<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Home</title>
</head>
<body>
    <h2>Welcome Customer</h2>
    <h3>From where would you like to order ?</h3>
    <ul>
        {% for canteen in canteen_names %}
            <li>
                <form action="{{ url_for('customer_home')}}" method="POST">
                    <button type="submit" name="action" value="{{ canteen }}">{{ canteen }}</button><br><br>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{url_for('cart')}}">View Cart</a><br><br>
    <form method="POST" action="/logout">
        <button type="submit">Logout</button>
    </form>
</body>
</html>