<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1>Add items to menu</h1>
    <form action="/add" method="post">
    <label for="item_name">Item Name:</label><br>
    <input type="text" id="item_name" name="item_name"><br><br>
    <label for="item_price">Item Price:</label><br>
    <input type="text" id="item_price" name="item_price"><br><br>
    <input type="submit" value="add">
    </form>
</body>
</html>