<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Owner Home Page</title>
</head>
<body>
  <h1>{{session['user']}}'s home page</h1>
  <h1>Menu offered by you:</h1>
   {% if items %}
   <ul>
    {% for item in items %}
    <li>{{item.name }} : Rs. {{ item.price }}</li>
    {% endfor %}
   </ul>
   {% else %}
   <p>No items added yet</p>
   {% endif %}
  <form action="/add_item" method="POST">
    <button type="submit">Add Item</button>
  </form><br>
  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
</body>
</html>



