<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
</head>
<body>
    <h1>Hi {{session['user']}} please register yourself</h1>
    <h2>Registration Form</h2>
    <form action="/welcome" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email id:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="mobile">Mobile no:</label><br>
        <input type="text" id="mobile" name="mobile"><br><br>
        <label for="canteen">Canteen name:</label><br>
        <input type="text" id="canteen" name="canteen"><br><br>
        <label for="chefs">No of chefs:</label><br>
        <input type="text" id="chefs" name="chefs"><br><br>
        <label for="upi">UPI ID:</label><br>
        <input type="text" id="upi" name="upi"><br><br>
        <input type="submit" value="Register">
    </form>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
